:root {
    --black-color: #363636;
    --gray-color: #595c5d;
    --light-blue-color: #e6f5fb;
    --blue-color: #36c1ed;
    --light-pink-color: #fee0f1;
    --pink-color: #fd83be;
    --purple-color: #bc68da;
    --dark-purple-color: #8e14bd;
    --yellow-color: #fdffa5;

    --header-shift: 100px;
    --header-height: 72px;
    --promo-content-shift: 143px;

    --h1-fs: 72px;
    --h2-fs: 56px;
    --large-text-fs: 28px;
    --text-fs: 24px;
    --small-text-fs: 18px;

    --delay: 0s;
    --speed: 3.5s;

    --wrapper-gap: 80px;
    --wrapper-width: 1600px;

    @include media(1750) {
        --header-shift: 50px;
        // --promo-content-shift: 75px;
        --promo-content-shift: 155px;
    }

    @include media(1600) {
        --h1-fs: 56px;
        --h2-fs: 40px;
        --large-text-fs: 24px;
        --text-fs: 20px;
        --small-text-fs: 16px;
    }

    @include media("lg") {
        --header-height: 60px;

        --h1-fs: 48px;
        --h2-fs: 32px;

        --large-text-fs: 20px;
        --text-fs: 18px;

        --wrapper-gap: 40px;
    }

    @include media("md") {
        --header-shift: 32px;
        --promo-content-shift: 0px;
    }

    @include media("sm") {
        --h1-fs: 24px;
        --h2-fs: 20px;
        --large-text-fs: 18px;
        --text-fs: 16px;
        --small-text-fs: 12px;

        --promo-content-shift: 60px;
        --wrapper-gap: 20px;
    }
}
