.footer {
    padding-block: 110px 52px;
    background-color: var(--light-blue-color);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 36px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    &__sun {
        ellipse {
            display: none;
        }
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__participants {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    @include media("md") {
        padding-block: 50px;
        &__wrapper {
            flex-wrap: wrap;
            gap: 0;
        }

        &__logo {
            text-align: center;
            width: 100%;
            margin-bottom: 32px;
        }

        &__menu {
            gap: 16px;
        }
    }

    @include media("sm") {
        &__wrapper {
            margin-bottom: 72px;
            img {
                width: 100px;
            }
        }

        &__email {
            display: none;
        }

        &__sun {
            width: 100px;
            align-self: flex-end;
            transform: translateY(40px);
            path {
                stroke-width: 2px;
            }
        }
    }
}
