.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    height: 88px;
    border: 3px solid transparent;
    padding: 20px 40px;
    font-weight: bold;
    font-size: var(--large-text-fs);
    line-height: 1.4;
    transition: box-shadow 0.3s ease, background-color 0.15s ease;
    color: #fff;
    background-color: var(--purple-color);
    box-shadow: 2px 4px 12px rgba(180, 64, 221, 0.55);
    &:hover {
        box-shadow: 2px 4px 20px 3px rgba(180, 64, 221, 0.7);
    }
    &:active {
        background-color: #a43dcc;
        box-shadow: inset 2px 4px 12px rgba(137, 38, 172, 0.35);
    }

    &--white {
        background-color: #fff;
        box-shadow: 2px 4px 12px 2px rgba(255, 255, 255, 0.35);
        color: var(--black-color);
        &:hover {
            box-shadow: 2px 4px 20px 3px rgba(255, 255, 255, 0.45);
        }
        &:active {
            background-color: #ebe1e6;
            box-shadow: inset 2px 4px 12px rgba(255, 255, 255, 0.35);
        }
    }

    &--secondary {
        border-color: var(--purple-color);
        color: var(--purple-color);
        box-shadow: 2px 2px 14px rgba(180, 64, 221, 0.65);
        background-color: transparent;
        &:hover {
            box-shadow: 2px 4px 20px #b440dd;
        }
        &:active {
            box-shadow: inset 2px 4px 10px rgba(137, 38, 172, 0.35);
        }
    }

    @include media("sm") {
        height: 48px;
        border-width: 1px;
    }
}
