include components/blocks/_card

doctype html
html.no-js(lang='ru')
  include components/service/_head
  body.body.transition-lock
    include components/common/_header
    main
      include components/common/_promo
      include components/common/_cover
      include components/common/_video
      include components/common/_contributers
      include components/common/_supplies
      include components/common/_contacts


    include components/common/_footer






