head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='copyright', content='www.veganrussian.ru, 2022')
    meta(name='author' content='veganrussian.ru')
    meta(name='cmsmagazine', content='f21b68cb09efe1a7161ca2caaacaf749')
    title Добрая раскраска

    meta(property="og:title" content="Vegan Russian")
    meta(property="og:description" content="Vegan Russian — ваш гид по комфортному веганству в России.")
    meta(property="og:site_name" content="Vegan Russian")
    meta(property="og:image" content="./images/lamb.png")
    meta(property="og:image:width" content="600")
    meta(property="og:image:height" content="400")
    meta(property="og:type" content="website")
    meta(property="og:url" content= "https://veganrussian.ru/")
    meta(property="og:locale" content="ru_RU")

    link(rel='apple-touch-icon' sizes='180x180' href='./images/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon/favicon-16x16.png')
    link(rel='manifest' href='./images/favicon/site.webmanifest')
    link(rel='mask-icon' href='./images/favicon/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')
