section.contributers
  .wrapper
    h2.contributers__title Над раскраской работали
    .contributers__wrapper
      .swiper
        .swiper-wrapper.contributers__content
          +card('author-1.webp', 'bulb.svg', 'Фрида Зелёная', 'авторка идеи').swiper-slide
          +card('author-2.webp', 'palette.svg', 'Пупс', 'иллюстраторка').swiper-slide
          +card('author-3.webp', 'scroll.svg', 'Семён Белугин', 'поэт').swiper-slide
          +card('author-4.webp', 'book.svg', 'Забытый Футурист', 'верстальщик').swiper-slide
          +card('author-5.webp', 'crown.svg', 'Марина Ястремская', 'худ. рук.').swiper-slide
        .swiper-pagination
      span(aria-hidden="true" data-class="dash" style="--speed: 3s").contributers__spiral.observed
        include ../../../images/spiral.svg
