section.cover
  .wrapper
    .cover__wrapper
      span.cover__highlighted-rhomb.observed(aria-hidden="true" data-class="dash" style="--delay: 0.35s; --speed: 4.5s")
        span.hide-for-md
          include ./../../../images/highlighted-rhomb.svg
        span.show-for-md
          include ./../../../images/diamond-cover-mobile.svg
      span.cover__pencil.observed(aria-hidden="true" data-class="dash" style="--delay: 0.35s; --speed: 4.5s")
        include ./../../../images/pencil.svg

      div.cover__image-wrapper.observed(data-class="cover__page--left")
        img(src="./images/book-page-1.webp", alt="Первая страницы раскраски").cover__book-item

      div.cover__image-wrapper.observed(data-class="cover__page")
        span.cover__corner-highlight.observed(aria-hidden="true" data-class="dash" style="--delay: 2.75s; --speed: 9.5s")
          include ./../../../images/book-cover-corner-highlight.svg
        img(src="./images/book-cover.webp", alt="Обложка раскраски").cover__book-item

      div.cover__image-wrapper.observed(data-class="cover__page--right")
        span.cover__filled-rhomb.observed(aria-hidden="true" data-class="dash" style="--delay: 1.75s; --speed: 9.5s")
          include ./../../../images/filled-rhomb.svg
        span.cover__empty-rhomb.observed.hide-for-md(aria-hidden="true" data-class="dash" style="--delay: 2.75s; --speed: 9.5s")
          include ./../../../images/empty-rhomb.svg

        img(src="./images/book-page-2.webp", alt="Вторая страницы раскраски").cover__book-item
    .cover__btn-block
      a.button.cover__btn(href="https://drive.google.com/drive/folders/1EFpLTVzJ3JHAol9wQo875hvZC1mW0D_g" target="_blank") Скачать PDF
