footer.footer
  .wrapper
    .footer__wrapper
      .footer__logo
        a(href="https://veganrussian.ru/" title="Перейти на сайт veganrussian"): img(src="./images/logo.svg", alt="Логотип veganrussian.ru")
      nav
        ul.footer__menu
          li: a(href="https://drive.google.com/drive/folders/1EFpLTVzJ3JHAol9wQo875hvZC1mW0D_g" target="_blank").footer__link-item.menu-link Скачать раскраску в PDF
          li: a(href="https://drive.google.com/drive/folders/1zszBJ625o9Mc-Y1WSHTyuCJ38sSc-n5A" target="_blank").footer__link-item.menu-link Смотреть постранично
          li: a(href="#instructions").footer__link-item.menu-link Видео-инструкция
          li: a(href="#materials").footer__link-item.menu-link Чем раскрашивать
      span.footer__sun.observed(aria-hidden="true" data-class="dash" style="--speed: 4s")
        include ./../../../images/colored-sun.svg
    aside.footer__contacts
      .footer__participants
        a(href="https://t.me/lefhl" target="_blank").menu-link.underline Разработка: Эдик Гизбрехт
        a(href="https://www.behance.net/4d7f8a1e" target="_blank").menu-link.underline Дизайн: Юля Скворцова
      a(href="mailto:hello@veganrussian.ru").menu-link.footer__email hello@veganrussian.ru

